@using TracNghiemOnline.Models
@{
    ViewBag.Title = "Trang Chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ListTest = Model as List<TestViewModel>;
}

<div class="title-content">
    <span class="title">@ViewBag.Title</span>
</div>
<div class="content row col s12 reset-margin">
    @foreach (var item in ListTest)
    {
        <div class="col s6 m4 l3">
            <div class="dashboard-inner-item" style="padding: 10px;">
                <span class="title">Môn: <b>@item.subject.subject_name</b></span><br />
                <span class="title">Mã đề: <b>@item.test.test_code</b></span><br />
                <span class="title">Kỳ thi: <b>@item.test.test_name</b></span><br />
                <span class="title">Số câu hỏi: <b>@item.test.total_questions</b></span><br />
                <span class="title">Thời gian: <b>@item.test.time_to_do (phút)</b></span><br />
                <span class="title">Ghi chú: <b>@item.test.note</b></span><br />
                <span class="title">Trạng thái: <b>@item.status.status_name</b></span><br />
                <a class="btn full-width" href="@Url.Action("Preview/" + @item.test.test_code)">Xem</a>
            </div>
        </div>
    }
</div>
<script>
</script>