@using TracNghiemOnline.Models;

@{
    var list = Model as List<StudentQuestViewModel>;
    ViewBag.Title = "Làm Bài Thi "+ list.First().test.test_code;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="title-content">
    <span class="title" style="padding-left: 115px;">@ViewBag.Title</span>
    <span id="timer" class="timer timer-fixed">@ViewBag.min : @ViewBag.sec</span>
</div>
<div class="content row col s12 reset-margin" style="padding:0;">
    <div class="testing-left scrollbar">
        @{
            int i = 1;
            foreach (var item in list)
            {
                if (item.student_test.student_answer != null)
                {
                    <a href="#quest-@i" class="menu-link">Câu @i <span class="tick" id="tick-@i">✓</span></a>
                }
                else
                {
                    <a href="#quest-@i" class="menu-link">Câu @i <span class="tick" id="tick-@i"></span></a>
                }
                i = i + 1;
            }
        }
    </div>
    <div class="testing-right">
        @{ 
            int x = 1;
            foreach(var item in list)
            {
                <div id="quest-@x" class="item-quest">
                    <div class="quest-title">Câu @x :</div>
                    <div class="quest-content">
                        <span>@item.question.content</span>
                        @if(!item.question.img_content.Equals("noimage.png"))
                        {
                            <small class="title">(Câu hỏi có nội dung ảnh)</small>
                            <img src="~/Assets/img_questions/@item.question.img_content" style="max-width:700px"/>
                        }
                    </div>
                    <div class="quest-answer">
                        <p>
                            <label>
                                @if (item.student_test.student_answer != null && item.student_test.student_answer.Trim().Equals(item.student_test.answer_a.Trim()))
                                {
                                    <input name="@item.question.id_question" data-idquest="@item.question.id_question" type="radio" data-stt="@x" value="@item.student_test.answer_a.Trim()" checked />
                                }
                                else
                                {
                                    <input name="@item.question.id_question" data-idquest="@item.question.id_question" type="radio" data-stt="@x" value="@item.student_test.answer_a.Trim()" />
                                }
                                <span>@item.student_test.answer_a</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                @if (item.student_test.student_answer != null && item.student_test.student_answer.Trim().Equals(item.student_test.answer_b.Trim()))
                                {
                                    <input name="@item.question.id_question" data-idquest="@item.question.id_question" type="radio" data-stt="@x" value="@item.student_test.answer_b.Trim()" checked />
                                }
                                else
                                {
                                    <input name="@item.question.id_question" data-idquest="@item.question.id_question" type="radio" data-stt="@x" value="@item.student_test.answer_b.Trim()" />
                                }
                                <span>@item.student_test.answer_b</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                @if (item.student_test.student_answer != null && item.student_test.student_answer.Trim().Equals(item.student_test.answer_c.Trim()))
                                {
                                    <input name="@item.question.id_question" data-idquest="@item.question.id_question" type="radio" data-stt="@x" value="@item.student_test.answer_c.Trim()" checked />
                                }
                                else
                                {
                                    <input name="@item.question.id_question" data-idquest="@item.question.id_question" type="radio" data-stt="@x" value="@item.student_test.answer_c.Trim()" />
                                }
                                <span>@item.student_test.answer_c</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                @if (item.student_test.student_answer != null && item.student_test.student_answer.Trim().Equals(item.student_test.answer_d.Trim()))
                                {
                                    <input name="@item.question.id_question" data-idquest="@item.question.id_question" type="radio" data-stt="@x" value="@item.student_test.answer_d.Trim()" checked />
                                }
                                else
                                {
                                    <input name="@item.question.id_question" data-idquest="@item.question.id_question" type="radio" data-stt="@x" value="@item.student_test.answer_d.Trim()" />
                                }
                                <span>@item.student_test.answer_d</span>
                            </label>
                        </p>
                    </div>
                </div>
                x = x + 1;
            }
        }
        
    <a href="@Url.Action("SubmitTest")" class="btn flat" style="margin-left: 40%;width: 30%;margin-top: 20px;margin-bottom: 10px;" onclick="return confirm('Xác nhận nộp bài?')">Nộp Bài</a>
    </div>
</div>
<script>
    var min = @ViewBag.min;
    var sec = @ViewBag.sec;
    countdown();
    function countdown() {
            cdID = setInterval(function () {
                if (sec == 0) {
                    min--;
                    sec = 60;
                }
                sec--;
                if (min < 10) {
                    $('#timer').css('color', 'red');
                    min_text = '0' + min;
                } else {
                    min_text = min;
                }
                if (sec < 10)
                    sec_text = '0' + sec;
                else
                    sec_text = sec;
                $('#timer').text(min_text + ':' + sec_text);
                if (min < 0) {
                    alert('Hết giờ, hệ thống sẽ tự động nộp bài!');
                    window.location.replace("@Url.Action("SubmitTest")");
                }
            }, 1000);
    }
    $(function () {
        $('input[type=radio]').change(function () {
            var stt = $(this).data("stt");
            var idquest = $(this).data("idquest");
            var value = $(this).val();
            var data = {
                id: idquest,
                answer: value,
                min: min,
                sec: sec
            }
            var url = "@Url.Action("UpdateStudentTest")";
            var success = function (result) {
                $('#tick-' + stt).text("✓");
            };
            $.post(url, data, success);
        })
    })
    $(window).scroll(function () {
        $('#footer').css("display", "none");
        if (window.pageYOffset > 30) {
            $('.testing-left').css("top", "65px").css("height", "calc(100% - 65px)");
            $('#timer').css("margin-top", "0px");
        }
        if (window.pageYOffset < 30) {
            $('.testing-left').css("top", "95px").css("height", "calc(100% - 95px)");
            $('#timer').css("margin-top", "30px");
        }
    });
    //jQuery for Page Scroll - Single page      
    $('a[href*="#"]:not([href="#"])').click(function () {
        if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
            if (target.length) {
                $('html, body').animate({
                    scrollTop: target.offset().top - 65
                }, 500);
                return false;
            }
        }
    });
    window.onbeforeunload = function () {
        var url = "@Url.Action("UpdateTiming")"
        var data = {
            min: min,
            sec: sec
        }
        var success = function () {};
        $.post(url, data, success);
    }
</script>